.glass-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}
.glass-card:hover {
  transform: translateY(-10px);
}
@keyframes morphBorder {
  0% { border-radius: 0; }
  25% { border-radius: 100% 0 0 0; }  /* Top-left rounded */
  50% { border-radius: 0 100% 100% 0; } /* Left-full */
  75% { border-radius: 0 0 0 100%; } /* Bottom-left rounded */
  100% { border-radius: 0; } /* Back to normal */
}

.animate-border {
  animation: morphBorder 6s infinite ease-in-out;
}
@keyframes testimonial-loop {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.animate-testimonial-loop {
  display: flex;
  animation: testimonial-loop 25s linear infinite;
}

.animate-testimonial-loop:hover {
  animation-play-state: paused;}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 15s linear infinite;
}
@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-slide {
  animation: fadeSlideIn 1s ease-out forwards;
}

/* Delay for the image to make it appear after the text */
.animate-fade-slide-delay {
  animation: fadeSlideIn 1s ease-out 0.5s forwards;
  opacity: 0; /* Start with opacity 0 */
}


[appAnimation] {
  will-change: opacity, transform;
}
