<app-header></app-header>

<!-- Home Section -->
<!-- Hero Section -->
<div
  class="relative bg-fixed overflow-hidden bg-cover bg-center min-h-[70vh]"
  style="background-image: url('/bg-image.jpeg')"
>
  <!-- Gradient Overlay -->
  <div
    class="absolute inset-0 bg-gradient-to-r from-black/70 via-black/50 to-black/70 backdrop-blur-sm"
    aria-hidden="true"
  ></div>

  <!-- Content -->
  <div
    class="w-full mx-auto relative z-10 flex flex-col lg:flex-row items-center min-h-[70vh]"
  >
    <!-- Text Content -->
    <div
      class="w-full lg:w-1/2 p-8 text-center lg:text-left animate-fade-slide"
    >
      <h1
        class="text-4xl sm:text-5xl md:text-6xl font-bold playfair-display text-white leading-[1.2] drop-shadow-md"
      >
        Transform Your
        <span class="gold-gradient-text">Leadership Journey</span>
      </h1>
      <p
        class="mt-6 text-lg md:text-xl text-blue-100 open-sans leading-relaxed"
      >
        CEO Square connects visionary leaders with exclusive resources,
        strategic partnerships, and transformative growth opportunities.
      </p>
      <div class="mt-8 flex justify-center lg:justify-start">
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSe1XFSYvmMQ9OxsLR2WqWMWpLmDjnC7MOV0TNQv97Y9_jUV3A/viewform?usp=header"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center px-8 py-4 text-lg font-semibold text-black gold-gradient rounded-xl shadow-lg hover:scale-105 transition-all duration-300"
        >
          Join Our Network
          <svg
            class="ml-3 h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M14 5l7 7m0 0l-7 7m7-7H3"
            />
          </svg>
        </a>
      </div>
    </div>

    <!-- Diagonal Image Right Side -->
    <div
      class="w-full lg:w-1/2 relative h-[80vh] animate-fade-slide-delay hidden md:block"
    >
      <div class="absolute inset-0 clip-diagonal-right">
        <img
          src="/hero.avif"
          alt="Networking"
          class="w-full h-full object-cover brightness-90"
        />
      </div>
    </div>
  </div>
</div>
<!-- Welcome to ceosquare -->
<section class="relative text-center bg-black">
  <div
    class="relative p-8 flex flex-col md:flex-row items-center md:items-start gap-8"
    appAnimation="fadeInUp"
  >
    <!-- Right Side Image -->
    <div class="md:w-1/2">
      <img
        src="check.jpg"
        alt="Leadership"
        class="w-full rounded-xl shadow-lg transition-transform duration-700 scale-100"
      />
    </div>

    <!-- Left Content -->
    <div class="md:w-1/2">
      <!-- Logo -->
      <div class="flex justify-center mb-4 sm:mb-6">
        <img src="/logo-s.png" alt="CEO Square Logo" class="w-48" />
      </div>
      <!-- Heading -->
      <h1
        class="text-3xl sm:text-2xl font-semibold text-white playfair-display"
      >
        Welcome to <span class="font-bold gold-gradient-text">CEO Square</span>
      </h1>

      <!-- Button -->
      <button
        class="mt-4 px-4 py-2 sm:px-6 sm:py-3 bg-gradient-to-r from-blue-900/10 backdrop-blur-3xl to-blue-700/10 font-semibold italic rounded-md shadow-md transition duration-300"
      >
        <span class="text-white playfair text-xl">Unlock Your Full</span>
        <hr />
        <span class="gold-gradient-text italic montserrat"
          >Leadership Potential</span
        >
      </button>

      <!-- Paragraph -->
      <div class="mt-4 sm:mt-6 flex justify-center">
        <p
          class="w-full max-w-2xl md:max-w-full text-sm sm:text-base text-gray-200 italic merriweather-regular text-justify px-4"
        >
          At CEO Square, we’re building a global community where top CEOs,
          entrepreneurs, and business leaders unite to shape the future of
          business. Whether you're looking to expand your network, enhance your
          leadership skills, or position your business for success, CEO Square
          has the right tools, resources, and support for your journey.
        </p>
      </div>
    </div>
  </div>
</section>


<!-- Value Proposition Section -->
<section class="relative h-screen overflow-hidden border-t-2 border-gray-500 bg-cover bg-center bg-fixed" style="background-image: url('/bg-image.jpeg');">
  <!-- Fixed background with optimized overlay -->
  <div class="absolute inset-0 bg-gradient-to-r from-black/70 via-black/50 to-black/70 backdrop-blur-[2px]"></div>
  <div class="relative h-full flex flex-col z-10">
    <!-- Header content -->
    <div class="flex-none pt-16 pb-8">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center">
          <div class="max-w-2xl py-5 backdrop-blur mx-auto rounded-md shadow-2xl">
            <h2 class="font-semibold poppins-semibold inline-block px-4 py-2 rounded-md text-black gold-gradient bg-opacity-10 text-sm tracking-wider uppercase mb-4">
              Executive Advantage
            </h2>
            <p class="mt-2 playfair-display text-3xl md:text-4xl leading-8 font-extrabold tracking-tight text-black">
              The CEO Square Difference
            </p>
            <p class="mt-4 text-xl poppins-light gold-gradient-text">
              Elevate your leadership through collaborative excellence and strategic innovation.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Scrollable feature cards -->
    <div class="flex-grow overflow-hidden px-6 lg:px-8">
      <div class="h-full overflow-y-auto scrollbar-hide will-change-scroll z-10" style="scroll-behavior: smooth; -webkit-overflow-scrolling: touch;">
        <div class="max-w-7xl mx-auto pb-12">
          <!-- Feature cards here -->
          <div
            *ngFor="let feature of features; let i = index"
            class="flex flex-col md:flex-row items-center md:items-start md:justify-between gap-8 mb-2"
            [ngClass]="{ 'md:flex-row-reverse': i % 2 !== 0 }"
          >
            <!-- Feature Card -->
            <div class="flex-shrink-0 bg-gradient-to-br from-black/80 to-black/60 backdrop-blur-md border p-8 rounded-xl shadow-xl border-white/30 hover:shadow-2xl hover:scale-[1.02] transition-all duration-300 w-full md:w-1/2 flex flex-col items-center text-center transform-gpu">
              <div class="flex items-center justify-center h-14 w-14 rounded-full gold-gradient text-black mb-4">
                <svg class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path [attr.d]="feature.icon" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                </svg>
              </div>
              <h3 class="text-xl font-semibold montserrat text-white mb-4">{{ feature.title }}</h3>
              <p class="text-gray-200 text-justify merriweather-regular">
                {{ feature.description }}
              </p>
            </div>
            <div class="w-full md:w-1/2 text-white poppins-regular text-lg text-justify hidden md:block"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Membership Plans -->
<div
  id="membership-section"
  class="py-16 relative border-t-2 bg-black border-gray-500 bg-fixed bg-center bg-cover"
>
  <div
    class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8"
    appAnimation="fadeInUp"
  >
    <div class="text-center">
      <span
        class="poppins-semibold inline-block px-4 py-2 rounded-md text-black gold-gradient bg-opacity-10 text-sm tracking-wider uppercase mb-4"
      >
        Membership
      </span>
      <h2
        class="playfair-display text-4xl md:text-5xl font-bold tracking-tight text-white mb-6"
      >
        Choose Your Membership Plan
      </h2>
      <p class="poppins-light text-xl gold-gradient-text max-w-2xl mx-auto">
        Select the plan that aligns with your business goals and leadership
        aspirations
      </p>
    </div>

    <div
      class="mt-16 grid grid-cols-1 md:grid-cols-3 gap-8"
      appAnimation="slideLeft"
    >
      <!-- Gold Membership -->
      <div
        class="bg-white/30 border-yellow-400 border backdrop-blur-xs rounded-xl shadow-2xl overflow-hidden transition-all duration-300 hover:scale-105 hover:shadow-xl h-full flex flex-col"
        appAnimation="slideLeft"
      >
        <div
          class="px-6 py-8 bg-gradient-to-r from-black/5 to-black/50 backdrop-blur-md"
        >
          <h3 class="montserrat text-2xl font-bold text-yellow-500">
            Gold Membership
          </h3>
          <p class="open-sans mt-2 text-gray-100">
            Elevate Your Network & Leadership Skills
          </p>
          <div class="mt-6">
            <div class="flex items-center">
              <span class="roboto text-sm text-gray-200 line-through"
                >INR 4,999+GST / year</span
              >
            </div>
            <div class="flex items-baseline mt-1">
              <span class="montserrat text-5xl font-bold text-yellow-500"
                >Free</span
              >
            </div>
          </div>
        </div>
        <div class="px-6 py-8 flex-grow">
          <ul class="space-y-6 mb-6">
            <li class="flex items-start">
              <div class="flex-shrink-0">
                <svg
                  class="h-6 w-6 text-green-500"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
              </div>
              <p class="ml-3 poppins-regular text-gray-200">
                Access high-profile roundtables
              </p>
            </li>
            <li class="flex items-start">
              <div class="flex-shrink-0">
                <svg
                  class="h-6 w-6 text-green-500"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
              </div>
              <p class="ml-3 poppins-regular text-gray-200">
                Advanced leadership training
              </p>
            </li>
            <li class="flex items-start">
              <div class="flex-shrink-0">
                <svg
                  class="h-6 w-6 text-green-500"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
              </div>
              <p class="ml-3 poppins-regular text-gray-200">
                Podcasting opportunities to showcase your thought leadership
              </p>
            </li>
          </ul>
        </div>
        <div class="px-6 pb-8">
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSe1XFSYvmMQ9OxsLR2WqWMWpLmDjnC7MOV0TNQv97Y9_jUV3A/viewform?usp=header"
            target="_blank"
            rel="noopener noreferrer"
            class="montserrat block w-full bg-gradient-to-b from-yellow-500 to-yellow-300 hover:bg-gradient-to-t hover:from-yellow-600 hover:to-yellow-500 text-black hover:text-amber-50 font-medium py-4 px-4 rounded-lg text-center transition-all duration-300 transform hover:-translate-y-1 hover:shadow-lg"
          >
            Subscribe Now
          </a>
        </div>
      </div>

      <!-- Platinum Membership -->
      <div
        appAnimation="fadeInUp"
        class="bg-white/30 border-2 border-gray-300 backdrop-blur-xs rounded-xl shadow-2xl overflow-hidden transition-all duration-300 hover:scale-105 hover:shadow-xl h-full flex flex-col relative"
      >
        <div
          class="absolute top-0 right-0 gold-gradient text-red-500 px-4 py-2 rounded-bl-xl poppins-semibold z-10"
        >
          50% OFF
        </div>
        <div
          class="px-6 py-8 bg-gradient-to-r from-black/5 to-black/50 backdrop-blur-md"
        >
          <h3 class="montserrat text-2xl font-bold text-gray-200">
            Platinum Membership
          </h3>
          <p class="open-sans mt-2 text-white">The Pinnacle of Success</p>
          <div class="mt-6">
            <div class="flex items-center">
              <span class="roboto text-sm text-white line-through"
                >INR 19,999+GST / year</span
              >
            </div>
            <div class="flex items-baseline mt-1">
              <span class="roboto text-sm font-medium text-gray-200 mr-2"
                >INR</span
              >
              <span class="montserrat text-5xl font-bold text-gray-300"
                >9,999</span
              >
              <span class="roboto text-sm font-medium text-gray-300 ml-1"
                >+GST / year</span
              >
            </div>
          </div>
        </div>
        <div class="px-6 py-8 flex-grow">
          <ul class="space-y-6 mb-6">
            <li class="flex items-start">
              <div class="flex-shrink-0">
                <svg
                  class="h-6 w-6 text-green-500"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
              </div>
              <p class="ml-3 poppins-regular text-gray-200">
                Gain global visibility
              </p>
            </li>
            <li class="flex items-start">
              <div class="flex-shrink-0">
                <svg
                  class="h-6 w-6 text-green-500"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
              </div>
              <p class="ml-3 poppins-regular text-gray-200">
                Personalized mentorship
              </p>
            </li>
            <li class="flex items-start">
              <div class="flex-shrink-0">
                <svg
                  class="h-6 w-6 text-green-500"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
              </div>
              <p class="ml-3 poppins-regular text-gray-200">
                VIP access to top-tier investors and international events
              </p>
            </li>
          </ul>
        </div>
        <div class="px-6 pb-8">
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSe1XFSYvmMQ9OxsLR2WqWMWpLmDjnC7MOV0TNQv97Y9_jUV3A/viewform?usp=header"
            target="_blank"
            rel="noopener noreferrer"
            class="montserrat block w-full bg-gradient-to-b from-gray-300 to-gray-200 hover:bg-gradient-to-t hover:from-gray-400 hover:to-gray-300 text-black hover:text-gray-50 font-medium py-4 px-4 rounded-lg text-center transition-all duration-300 transform hover:-translate-y-1 hover:shadow-lg"
          >
            Subscribe Now
          </a>
        </div>
      </div>

      <!-- Diamond Membership -->
      <div
        class="bg-white/30 backdrop-blur-xs rounded-xl shadow-2xl overflow-hidden transition-all duration-300 hover:scale-105 hover:shadow-xl ring-1 ring-amber-400 relative z-10 h-full flex flex-col"
        appAnimation="slideRight"
      >
        <div
          class="absolute top-0 right-0 gold-gradient text-red-500 px-4 py-2 rounded-bl-xl poppins-semibold z-10"
        >
          40% OFF
        </div>
        <div
          class="px-6 py-8 bg-gradient-to-r from-black/5 to-black/50 backdrop-blur-md"
        >
          <h3 class="montserrat text-2xl font-bold text-amber-200">
            Diamond Membership
          </h3>
          <p class="open-sans mt-2 text-gray-100">Dominate the Global Stage</p>
          <div class="mt-6">
            <div class="flex items-center">
              <span class="roboto text-sm text-gray-100 line-through"
                >INR 24,999+GST / year</span
              >
            </div>
            <div class="flex items-baseline mt-1">
              <span class="roboto text-sm font-medium text-amber-200 mr-2"
                >INR</span
              >
              <span class="montserrat text-5xl font-bold text-amber-300"
                >14,999</span
              >
              <span class="roboto text-sm font-medium text-amber-200 ml-1"
                >+GST / year</span
              >
            </div>
          </div>
        </div>
        <div class="px-6 py-8 flex-grow">
          <ul class="space-y-6 mb-6">
            <li class="flex items-start">
              <div class="flex-shrink-0">
                <svg
                  class="h-6 w-6 text-green-500"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
              </div>
              <p class="ml-3 poppins-regular text-gray-200">
                Get access to a dynamic network
              </p>
            </li>
            <li class="flex items-start">
              <div class="flex-shrink-0">
                <svg
                  class="h-6 w-6 text-green-500"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
              </div>
              <p class="ml-3 poppins-regular text-gray-200">
                Foundational leadership training
              </p>
            </li>
            <li class="flex items-start">
              <div class="flex-shrink-0">
                <svg
                  class="h-6 w-6 text-green-500"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
              </div>
              <p class="ml-3 poppins-regular text-gray-200">
                Investor opportunities
              </p>
            </li>
          </ul>
          <p class="mt-4 poppins-medium text-lg text-gray-200">
            Perfect for emerging leaders. Start building your legacy.
          </p>
        </div>
        <div class="px-6 pb-8">
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSe1XFSYvmMQ9OxsLR2WqWMWpLmDjnC7MOV0TNQv97Y9_jUV3A/viewform?usp=header"
            target="_blank"
            rel="noopener noreferrer"
            class="montserrat block w-full bg-gradient-to-b from-amber-400 to-amber-300 hover:bg-gradient-to-t hover:from-amber-500 hover:to-amber-400 text-amber-950 hover:text-white font-medium py-4 px-4 rounded-lg text-center transition-all duration-300 transform hover:-translate-y-1 hover:shadow-lg"
          >
            Subscribe Now
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Testimonials -->
<div
  class="py-12 relative border-t-2 border-gray-500 bg-fixed bg-white bg-center bg-cover overflow-hidden"
  style="background-image: url('/bg-image.jpeg')"
>
  <div
    class="absolute inset-0 bg-gradient-to-r from-black/70 via-black/50 to-black/70 backdrop-blur-sm"
    aria-hidden="true"
  ></div>
  <div
    class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8"
    appAnimation="slideRight"
  >
    <div class="text-center">
      <div
        class="text-center max-w-2xl py-5 backdrop-blur-md mx-auto rounded-md shadow-2xl"
      >
        <h2
          class="poppins-semibold inline-block px-4 py-2 rounded-full text-black gold-gradient bg-opacity-10 text-sm tracking-wider uppercase mb-4"
        >
          Testimonials
        </h2>
        <p
          class="mt-2 text-3xl leading-8 playfair-display font-extrabold tracking-tight text-black sm:text-4xl"
        >
          Success Stories
        </p>
        <p
          class="mt-4 max-w-2xl text-xl gold-gradient-text merriweather-light lg:mx-auto"
        >
          Hear from our members who have transformed their businesses
        </p>
      </div>
    </div>
    <!-- Horizontal Scrolling Testimonials -->
    <div class="my-15 overflow-hidden relative">
      <div
        class="flex my-auto gap-x-6 animate-testimonial-loop w-max"
        appAnimation="fadeInUp"
      >
        <ng-container
          *ngFor="
            let testimonial of testimonials.concat(testimonials);
            trackBy: trackByFn
          "
        >
          <div
            class="bg-black p-6 rounded-xl shadow-xl w-96 flex-shrink-0 border-2 border-blu-200 transition-transform transform hover:scale-105"
          >
            <div class="flex items-center mb-4">
              <!-- If Image Exists, Show Image; Else, Show Initial -->
              <div
                class="h-16 w-16 rounded-full overflow-hidden bg-blue-900 flex items-center justify-center border-2 border-gray-300"
              >
                <img
                  *ngIf="testimonial.image"
                  [src]="testimonial.image"
                  alt="{{ testimonial.name }}"
                  class="h-full w-full object-cover"
                  loading="lazy"
                  [attr.srcset]="testimonial.initial + ' 300w, ' + testimonial.image + ' 600w'"
                                  />
                <span
                  *ngIf="!testimonial.image"
                  class="text-2xl font-bold text-white gold-gradient-text h-full w-full flex items-center justify-center rounded-full playfair"
                >
                  {{ testimonial.initial }}
                </span>
              </div>
              <div class="ml-4">
                <h4 class="text-lg merriweather-regular gold-gradient-text">
                  {{ testimonial.name }}
                </h4>
                <p class="text-sm poppins-light text-blue-100">
                  {{ testimonial.designation }}
                </p>
              </div>
            </div>
            <p
              class="text-white text-justify text-sm leading-relaxed merriweather-light italic"
            >
              "{{ testimonial.message }}"
            </p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<!-- CTA -->
<div
  class="cta relative border-t-2 bg-black border-gray-500 bg-fixed bg-center bg-cover"
>
  <div
    class="absolute inset-0 bg-gradient-to-r from-black/70 via-black/50 to-black/70 backdrop-blur-2xl"
    aria-hidden="true"
  ></div>

  <div
    class="relative max-w-2xl mx-auto text-center py-16 px-4 sm:py-20 sm:px-6 lg:px-8"
    appAnimation="slideRight"
  >
    <h2 class="text-3xl montserrat gold-gradient-text md:text-4xl">
      <span class="block">Ready to Unlock Your Leadership Potential?</span>
    </h2>
    <p class="mt-4 merriweather-regular leading-6 text-white">
      Join CEO Square and become part of an exclusive community of business
      leaders.
    </p>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://docs.google.com/forms/d/e/1FAIpQLSe1XFSYvmMQ9OxsLR2WqWMWpLmDjnC7MOV0TNQv97Y9_jUV3A/viewform?usp=header"
      class="mt-8  md:w-auto inline-flex items-center justify-center px-5 py-3 border text-base font-medium rounded-md text-white border-gray-400 bg-black/20 transition-transform duration-300 hover:scale-105 "
    >
      Join Today
    </a>
  </div>
</div>

<app-footer></app-footer>

<!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->
