<app-header></app-header>

<div
  class="relative bg-fixed bg-center bg-cover"
  style="background-image: url('/bg-image.jpeg')"
>
  <div class="absolute inset-0">
    <div
      class="absolute inset-0 bg-gradient-to-r from-black/70 via-black/50 to-black/70 backdrop-blur-sm"
      aria-hidden="true"
    ></div>
  </div>
  <div
    class="relative max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8 text-center"
  >
    <h1
      class="text-4xl lg:text-5xl playfair flex items-center justify-center text-white tracking-tight"
    >
      The CEO Courses
    </h1>
    <p
      class="mt-6 max-w-3xl mx-auto text-xl text-indigo-100 poppins-light text-justify md:text-center"
    >
      Explore courses designed to empower leaders and entrepreneurs — from free
      modules to advanced masterclasses, gain the skills to lead with
      confidence.
    </p>
  </div>
</div>
<div
  class="relative w-full bg-cover bg-center text-center px-5"
  style="background-image: url('https://i.pinimg.com/736x/43/69/dd/4369dd89280fc9224e58ac2c1f0cf8ba.jpg');"
>
  <div class="absolute inset-0 bg-gradient-to-r from-black/30 via-black/50 to-black/30 backdrop-blur-sm"></div>

  <div
    class="relative z-50 flex flex-col justify-center items-center text-white w-full h-[50vh]"
  >
    <h1 class="text-4xl md:text-6xl font-semibold gold-gradient-text">
      We are <b>Almost</b> there!
    </h1>
    <p class="mt-4 text-lg md:text-xl">Stay tuned for something amazing!!!</p>

    <div class="mt-10 w-full max-w-2xl mx-auto px-4">
      <div class="w-full bg-white rounded-full shadow">
        <div
          class="gold-gradient text-xs leading-none text-center text-black py-2 rounded-full"
          style="width: 75%"
        >
          75%
        </div>
      </div>
    </div>

    <div class="mt-10 flex flex-wrap justify-center gap-5">
      <a
        href="https://www.facebook.com/profile.php?id=61573839324883"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:scale-110 transition duration-300"
      >
        <img  loading="lazy"
          src="https://img.icons8.com/fluent/30/ffffff/facebook-new.png"
          alt="Facebook"
        />
      </a>
      <a
        href="https://www.instagram.com/ceo.square.kerala.official?igsh=aWVhZzZsZ2JqZzVp"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:scale-110 transition duration-300"
      >
        <img  loading="lazy"
          src="https://img.icons8.com/fluent/30/ffffff/instagram-new.png"
          alt="Instagram"
        />
      </a>
      <a
        href="https://www.youtube.com/@Ceosquare-bangalore"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:scale-110 transition duration-300"
      >
        <img  loading="lazy"
          src="https://img.icons8.com/fluent/30/ffffff/youtube-play.png"
          alt="YouTube"
        />
      </a>
      <a
        href="https://www.linkedin.com/company/99244542/admin/dashboard/"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:scale-110 transition duration-300"
      >
        <img  loading="lazy"
          src="https://img.icons8.com/fluent/30/ffffff/linkedin.png"
          alt="LinkedIn"
        />
      </a>
    </div>
  </div>
</div>

<app-footer></app-footer>
