<app-header></app-header>

<div
  class="relative bg-fixed bg-center bg-cover"
  style="background-image: url('/bg-image.jpeg')"
>
  <div class="absolute inset-0">
    <div
      class="absolute inset-0 bg-gradient-to-r from-black/70 via-black/50 to-black/70 backdrop-blur-sm"
      aria-hidden="true"
    ></div>
  </div>
  <div
    class="relative max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8 text-center"
  >
    <h1
      class="text-4xl lg:text-5xl playfair flex items-center justify-center text-white tracking-tight"
    >
      The CEO Store
    </h1>
    <p
      class="mt-6 max-w-3xl mx-auto text-xl text-indigo-100 poppins-light text-justify md:text-center"
    >
      Explore our exclusive collection for leaders — premium mugs, statement
      t-shirts, and essentials that reflect ambition, leadership, and
      innovation.
    </p>
  </div>
</div>

<section class="bg-black py-16 px-4 sm:px-6 lg:px-8">
  <div class="max-w-7xl mx-auto text-center">
    <h2 class="text-4xl font-bold playfair gold-gradient-text">
      Gear Up for Growth
    </h2>
    <p class="mt-4 text-lg poppins-light text-gray-300">
      Gear Up for Growth with CEO Square Merchandise – Where Ambition Meets
      Style.
    </p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-12">
    <div
      *ngFor="let product of products"
      class="relative border border-gray-800 rounded-lg shadow-xl p-6 bg-gray-900 group transition-all duration-500 hover:border-gold"
    >
      <div class="absolute top-0 left-0 right-0 h-1 gold-gradient"></div>

      <!-- Default View -->
      <div class="h-56 flex items-center justify-center mb-4">
        <img
          loading="lazy"
          src="{{ product.image }}"
          alt="{{ product.name }}"
          class="max-h-full object-contain mx-auto transition-transform duration-500 group-hover:scale-105"
        />
      </div>

      <h3 class="text-xl font-semibold text-center mb-2 text-white">
        {{ product.name }}
      </h3>
      <p class="text-xl font-bold text-center mb-4 gold-gradient-text">
        {{ product.price }}
      </p>

      <div class="text-center relative z-10">
        <button
          (click)="openModal(product.productKey)"
          class="gold-gradient text-black py-2 px-4 rounded-lg hover:brightness-110 transition-all font-medium"
        >
          Buy Now
        </button>
      </div>
      <div class="block md:hidden text-center relative z-10">
        <!-- Mobile: Toggle Details -->

        <button
          class="text-sm text-yellow-400 mt-2"
          (click)="toggleProductDetails(product.productKey)"
        >
          {{
            activeProduct === product.productKey
              ? "Hide Details"
              : "View Details"
          }}
        </button>
      </div>

      <!-- Hover / Tap Details -->
      <div
        class="absolute inset-0 rounded-md bg-gray-900 bg-opacity-95 p-6 opacity-0 translate-y-10 group-hover:opacity-100 group-hover:translate-y-0 group-hover:delay-200 transition-all duration-700 ease-out flex flex-col overflow-y-auto max-h-full scrollbar-hide"
        [class.opacity-100]="activeProduct === product.productKey"
        [class.translate-y-0]="activeProduct === product.productKey"
        [class.translate-y-10]="activeProduct !== product.productKey"
        [class.delay-200]="activeProduct === product.productKey"
      >
        <div class="h-1 gold-gradient mb-4"></div>
        <h3 class="text-2xl font-semibold mb-4 gold-gradient-text">
          {{ product.name }}
        </h3>
        <p class="text-gray-300 text-sm mb-4">{{ product.description }}</p>

        <div class="mb-4">
          <h4 class="font-semibold mb-2 text-white">Key Features:</h4>
          <ul class="list-disc list-inside text-sm text-gray-300 space-y-1">
            <li *ngFor="let feature of product.features">{{ feature }}</li>
          </ul>
        </div>

        <p class="italic text-gray-400 text-sm mb-4">"{{ product.tagline }}"</p>
      </div>
    </div>
  </div>
  <!-- Additional Information -->
  <div class="mt-16 text-center">
    <h2 class="text-3xl font-semibold mb-6 playfair-display gold-gradient-text">
      Why Choose CEO Square Merchandise?
    </h2>
    <ul class="text-lg text-white gap-2 flex flex-col merriweather-bold">
      <li>
        ✅ <strong>Quality Assurance : </strong
        ><span class="text-gray-300 montserrat">
          Every product is crafted with premium materials for durability and
          style.</span
        >
      </li>
      <li>
        ✅ <strong>Brand Pride : </strong>
        <span class="text-gray-300 montserrat"
          >Showcase your connection to a community of innovators and
          leaders.</span
        >
      </li>
      <li>
        ✅ <strong>Perfect for Gifting : </strong>
        <span class="text-gray-300 montserrat"
          >Ideal for mentors, partners, or team members.</span
        >
      </li>
    </ul>
  </div>

  <!-- Pricing & Availability -->
  <div class="mt-12 text-center">
    <h2 class="text-3xl font-semibold mb-6 playfair-display gold-gradient-text">
      Pricing & Availability
    </h2>
    <div class="text-lg text-white gap-2 flex flex-col merriweather-bold">
      <p>
        👕 <strong>Polo Neck T-Shirt : </strong>
        <span class="text-gray-300 montserrat">
          ₹1199 (Free shipping above ₹1,499).</span
        >
      </p>
      <p>
        ☕ <strong>Logo Mug : </strong
        ><span class="text-gray-300 montserrat">
          ₹399 (Bundle with T-Shirt for ₹1,299).</span
        >
      </p>
      <p>
        📔 <strong>Organizer with Pen : </strong
        ><span class="text-gray-300 montserrat"> ₹799 (Limited stock).</span>
      </p>
    </div>
  </div>
</section>

<!-- Modal -->
<div
  *ngIf="showModal"
  class="show-modal fixed inset-0 bg-black/80 flex items-center justify-center z-50 backdrop-blur-sm"
  (click)="closeModal()"
>
  <!-- Modal Content -->
  <div
    class="bg-gray-900 rounded-xl shadow-2xl p-8 max-w-lg w-full relative border border-gray-800"
    (click)="$event.stopPropagation()"
  >
    <!-- Gold gradient line at top -->
    <div class="absolute top-0 left-0 right-0 h-1 gold-gradient"></div>

    <!-- Close button -->
    <button
      (click)="closeModal()"
      class="absolute top-3 right-3 gold-gradient-text text-2xl hover:opacity-80 transition-opacity"
    >
      &times;
    </button>

    <!-- Modal heading -->
    <h3 class="text-2xl font-semibold mb-6 gold-gradient-text playfair">
      Buy {{ selectedProduct }}
    </h3>

    <form (ngSubmit)="submitOrder()" [formGroup]="orderForm">
      <div class="relative mb-4">
        <input
          formControlName="name"
          type="text"
          placeholder="Your Name"
          [ngClass]="{
            'border-red-500':
              orderForm.get('name')?.invalid && orderForm.get('name')?.touched
          }"
          class="w-full bg-gray-800 border border-gray-700 p-3 rounded-lg text-white focus:border-amber-400 focus:outline-none"
          required
        />
      </div>

      <div class="relative mb-4">
        <input
          formControlName="email"
          type="email"
          placeholder="Email"
          [ngClass]="{
            'border-red-500':
              orderForm.get('email')?.invalid && orderForm.get('email')?.touched
          }"
          class="w-full bg-gray-800 border border-gray-700 p-3 rounded-lg text-white focus:border-amber-400 focus:outline-none"
          required
        />
      </div>

      <div class="relative mb-4">
        <input
          formControlName="phone"
          type="tel"
          placeholder="Phone Number"
          [ngClass]="{
            'border-red-500':
              orderForm.get('phone')?.invalid && orderForm.get('phone')?.touched
          }"
          class="w-full bg-gray-800 border border-gray-700 p-3 rounded-lg text-white focus:border-amber-400 focus:outline-none"
          required
        />
      </div>

      <div class="relative mb-4">
        <textarea
          formControlName="address"
          placeholder="Shipping Address"
          rows="3"
          [ngClass]="{
            'border-red-500':
              orderForm.get('address')?.invalid &&
              orderForm.get('address')?.touched
          }"
          class="w-full bg-gray-800 border border-gray-700 p-3 rounded-lg text-white focus:border-amber-400 focus:outline-none"
          required
        ></textarea>
      </div>

      <button
        type="submit mb-4"
        [disabled]="isSubmitting"
        class="w-full gold-gradient text-black py-3 rounded-lg hover:brightness-110 transition-all font-medium mt-6"
      >
        {{ isSubmitting ? "Submitting..." : "Confirm Order" }}
      </button>
    </form>

    <p class="text-gray-400 text-xs text-center mt-6 poppins-light">
      Exclusive CEO Square Merchandise - Premium Quality Guaranteed
    </p>
  </div>
</div>
<!-- Spinner Overlay -->
<div
  *ngIf="isSubmitting"
  class="fixed inset-0 bg-black/80 bg-opacity-80 flex items-center justify-center z-50"
>
  <div class="relative w-32 h-32">
    <div
      class="absolute top-0 left-1/2 transform -translate-x-1/2 w-6 h-6 border-2 border-yellow-500 rounded-full animate-blob-top"
    ></div>
    <div
      class="absolute bottom-0 left-1/2 transform -translate-x-1/2 w-6 h-6 border-2 border-yellow-500 rounded-full animate-blob-bottom"
    ></div>
    <div
      class="absolute left-0 top-1/2 transform -translate-y-1/2 w-6 h-6 border-2 border-yellow-500 rounded-full animate-blob-left"
    ></div>

    <div
      class="absolute w-6 h-6 gold-gradient rounded-full animate-blob-move"
    ></div>

    <!-- Logo in center -->
    <div class="absolute inset-0 flex items-center justify-center">
      <img
        loading="lazy"
        src="/favicon.png"
        alt="Logo"
        class="w-12 h-12 rotate-logo"
      />
    </div>
  </div>
</div>
<app-footer></app-footer>
